.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.rock-3d-regular {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.brand {
  font-family: "Rock 3D", system-ui;
  font-size: 70px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  font-size: 30px;
}


.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  font-family: "Barlow", sans-serif;
  font-size: 60px;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.google-button {
  padding: 5px 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Barlow", sans-serif;
}

/* BUTTONS */
.google-button:hover,
.back-home:hover,
.mic-button:hover,
.back-button:hover,
.more-button:hover,
.store-button:hover,
.logout-button:hover,
.pantry-button:hover,
.profile-button:hover,
.search-button:hover,
.add-item:hover,
.back-pantry-button:hover,
.back-pantry-button2:hover,
.update:hover,
.favorites-button:hover {
  background-color: rgb(215, 81, 57); 
}

.delete:hover,
.delete-favorite-button:hover {
  background-color: rgb(114, 2, 2);
}

/* HOME PAGE STYLING */
.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  height: 100vh; 
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header {
  background-color: bisque;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Style for the logo image */
header img {
  max-width: 100px; /* Adjust as needed */
  vertical-align: middle;
}

.back-home {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.profile {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-button,
.logout-button {
  padding: 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.instructions {
  max-width: 600px; 
  margin: 0 auto; 

}

.pantry-button,
.favorites-button {
  padding: 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.features-container {
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.search-container {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  background-color: bisque;
  position: relative; 
}

.search-container input[type="text"] {
  width: 300px;
  padding: 5px;
  margin-right: 10px;
  font-family: "Barlow", sans-serif;
}

.search-container button {
  padding: 5px 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;  
}

.mic-button {
  margin-left: 10px;
}

.back-button {
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 10px;
  border-radius: 5px;
}

.pagination-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.more-button {
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.page-number {
  font-size: 0.7em;
  text-align: center;
}

/* RECIPE GRID STYLING */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.recipe-item {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #ede8e5; 
}

.recipe-item img {
  width:85%;
  height: auto;
}

.recipe-item p {
  text-align: center;
}

.instructions {
  border-radius: 10px;
  padding: 10px;
  background-color:#ede8e5;;
}

.ingredients-container {
  border-radius: 10px;
  padding: 10px;
  background-color: bisque;
}

/* PANTRY STYLING */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.ingredient-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: bisque;
}

.ingredient-info {
  display: flex;
  align-items: center;
}

.button-group {
  margin-left: 10px; 

}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px; 
}

.update,
.delete,
.add-item,
.back-home,
.store-button {
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px; 
  font-family: "Barlow", sans-serif;
  border-radius: 5px;
}

.add-item,
.store-button {
  padding: 10px;
  margin-bottom: 10px;
}

.delete {
  background-color: red;
}

.input-container {
  justify-content: center;
  align-items: center; 
  display: flex;
  gap: 10px; 
  margin-top: 20px;
}

.updatebox1,
.updatebox2 {
  padding: 10px;
  border: solid tomato;
  border-radius: 5px;
  background-color: bisque;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  margin-bottom: 10px;
}

.back-pantry-button {
  padding: 10px;
  background-color: tomato;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

/* FAVORITES STYlinG */
.favorite-item {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  background-color: #ede8e5; 
}

.favorite-item img {
  width:85%;
  height: auto;
}

.delete-favorite-button {
  padding: 10px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

